*{
    margin: 0;
    padding: 0;
    cursor: none;
}

:root {
    --sandal: #f5e0bb;
    --white: #ffffff;
    --black:#1b1b1b;
  }

@font-face {
    font-family: kenoky_light;
    src: url(/assets/fonts/KENOKY-Light.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: barracudabold;
    src: url(/assets/fonts/barracuda-bold-webfont.woff2) format('woff2'),
         url(/fonts/barracuda-bold-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: barracudabold_italic;
    src: url(/assets/fonts/barracuda-bolditalic-webfont.woff2) format('woff2'),
         url(/assets/fonts/barracuda-bolditalic-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: barracudaitalic;
    src: url(/assets/fonts/barracuda-lightitalic-webfont.woff2) format('woff2'),
         url(/assets/fonts/barracuda-lightitalic-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: barracuda_regular;
    src: url(/assets/fonts/barracuda-regular-webfont.woff2) format('woff2'),
         url(/assets/fonts/barracuda-regular-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    background:var(--black);
    color: var(--sandal);
}

.header{
    height: 16.5vh;
    align-items: center;
    display: flex;
    height: 5rem;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 30000;
}

.header-container{
    font-family: 'Space Mono', monospace;
    font-size:calc(16px + (1200vw - 7680px)/ 1920);
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: space-between;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 90vw;
}

.nav{
    align-items: center;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item{
    margin-left: 3vw;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 1rem;
    position: relative;
}

.main{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width:90vw;
    min-height: 100vh;
}

.hand-wave{
    width:calc(50px + (1200vw - 7680px)/ 1920);
    transform: scaleX(-1);
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
    margin: 0px 15px 0px 10px ;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

.hero{
    /* height:100vh; */
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-txt{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    font-family: barracuda_regular;
    font-size:calc(160px + (1200vw - 7680px)/ 1920);
}

.subtitle-1{
    font-family: kenoky_light;
    color:#ffffff;
    font-size:calc(62px + (1200vw - 7680px)/ 1920);
}

.subtitle-2{
    font-family: kenoky_light;
    color:#ffffff;
    font-size:calc(62px + (1200vw - 7680px)/ 1920);
}

@media only screen and (max-width: 1372px) {

    .title{
        font-size:calc(100px + (1200vw - 7680px)/ 1920);
    }
    
    .subtitle-1{
        font-size:calc(42px + (1200vw - 7680px)/ 1920);
    }
    
    .subtitle-2{
        font-size:calc(42px + (1200vw - 7680px)/ 1920);
    }

    .hand-wave{
        width:calc(36px + (1200vw - 7680px)/ 1920)
    }
 
 }

 @media only screen and (max-width: 806px) {

    .title{
        font-size:calc(60px + (1200vw - 7680px)/ 1920);
    }
    
    .subtitle-1{
        font-size:calc(26px + (1200vw - 7680px)/ 1920);
    }
    
    .subtitle-2{
        font-size:calc(26px + (1200vw - 7680px)/ 1920);
    }

    .hand-wave{
        width:calc(26px + (1200vw - 7680px)/ 1920)
    }
 
 }

 @media only screen and (max-width: 452px) {

    .title{
        font-size:calc(50px + (1200vw - 7680px)/ 1920);
    }
    
    .subtitle-1{
        font-size:calc(26px + (1200vw - 7680px)/ 1920);
    }
    
    .subtitle-2{
        font-size:calc(26px + (1200vw - 7680px)/ 1920);
    }

    .hand-wave{
        width:calc(22px + (1200vw - 7680px)/ 1920)
    }
 
 }


